// Specific CSS for your home-page
.card-category {
  background-size: cover;
  background-position: center;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

#lists {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 300px;
  color: white;
  background-color: black;
  border-radius: 25px;
  box-shadow: 3px 3px 5px rgb(160, 160, 160);
  margin-bottom: 50px;
  li {
    list-style: none;
  }
  a {
    color: white;
    font-size: 28px;
    text-decoration: none;
  }
}

.list-container {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.cover-img {
  object-fit: cover;
}

.star {
  padding-top: 4px;
}

.btn-movie {
  color: white;
  position: absolute;
  top: 14px;
  right: 14px;
}

.card {
  max-width: 500px !important;
}

.red {
  color: red;
  text-decoration: none;
}
